.simplestep-back{
    background: #3485fd;
    padding-bottom: 2rem;
    
   
}

.simple-step-div{
height: 300px;
    background: #FFFFFF;
    border-radius: 1rem 1rem 0 1rem;
    
}
.stepimagesize{
    height: 90px;
    width: 90px;
    margin-bottom: 2px;
}
.simple-step-div h4{
color: #003459;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.simple-step-div p{
font-size: 1.1rem;
font-weight: 400;
color: #6C757D;
}



@media only screen and (max-width: 800px){
  .last :after {
      display: none;
  }
}