.canada-back {
  height: auto;
  position: relative;
  display: block;
  padding: 1rem;
}
@media screen and (min-width:1200px) {
  .canada-back{
    padding: 5rem;
  }
}
.countryimg {
  width: auto;
}

.canada-back h2 {
  color: #003459;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
}

.firstpara p {
  color: #003459;
  font-family: 'Poppins', sans-serif!important;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.countrysubhead {
  color: #003459;
  font-family: 'Poppins', sans-serif!important;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.countrypara {
  color: #003459;
  font-family: 'Poppins', sans-serif!important;
  font-size: .8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hrtag {
  border-color: blue;
}